@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --grey-color: #333333;
  --white-color: #FFFFFF;
  --normal-weight: 400;
  --bold-weight: 700;
  --space-mono-font: 'Space Mono', monospace;
  --inconsolata-font: 'Inconsolata', monospace;
  --montserrat-font: 'Montserrat', sans-serif;
}

.back__button{
  color:
}